.button {
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  right: 30px;
  bottom: 30px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-hover);
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}
.primary svg * {
  fill: var(--white);
}
.primary:hover {
  background-color: var(--primary-hover);
}

.white {
  background-color: var(--white);
}
.white svg * {
  fill: var(--primary);
}
.white:hover {
  fill: var(--primary);
}
.white:hover svg * {
  fill: var(--white);
}

/*.primary svg,*/
/*.white:hover svg {*/
/*  fill: var(--white);*/
/*}*/
